{% if site.theme_settings.katex and page.id %}
<script src="{{ "/assets/js/katex_init.js" | relative_url }}"></script>
{% endif %}

{% if site.theme_settings.footer_text %}
<footer class="site-footer">
	<span>CONTACT</span>
	<p class="email">rudderwoo@gmail.com</p>
	<div class="link-group">
		<a href="https://dribbble.com/rudderWoo" target="_blank"><img src="{{ site.baseurl }}/assets/img/brand/dribbble.svg"></a>
		<a href="https://github.com/rudderWoo" target="_blank"><img src="{{ site.baseurl }}/assets/img/brand/github.svg"></a>
		<a href="https://www.linkedin.com/in/%EC%A2%85%EA%B7%9C-%EC%9A%B0-68377b201/" target="_blank"><img src="{{ site.baseurl }}/assets/img/brand/LinkedIn.svg"></a>
		<a href="https://brunch.co.kr/@dnwhdrb98#articles" target="_blank"><img src="{{ site.baseurl }}/assets/img/brand/brunch.png"></a>
	</div>
	<div class = "divider"></div>
	<p class="copyright">Copyrightⓒ2020 rudderWoo All rights reserved.</p>	
</footer>
{% endif %}
