<!DOCTYPE html>
<html class="no-js">

<head>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MBW8D4M');
  </script>
  <!-- End Google Tag Manager -->
  <meta property="og:image" content="{{ site.baseurl }}/assets/img/preview.png">
  <meta property="og:title" content="프로덕트 디자이너 우종규입니다.">
</head>
{% include head.html %}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MBW8D4M" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include header.html %}
  <div class="content">
    {{ content }}
  </div>
  {% include footer.html %}
</body>

</html>