<!DOCTYPE html>
<html class="no-js">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RWWC37X0JJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-RWWC37X0JJ');
    </script>
    <meta property = "og:image" content="{{ site.baseurl }}/assets/img/preview.png">
    <meta property = "og:title" content="프로덕트 디자이너 우종규입니다.">
  </head>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
