---
layout: default
---


<div class="container works-wrapper">
    <h3 class="page-title">Works</h3>
    <p class="page-subtitle">보고, 배우고, 느낀 것을 공유합니다.</p>
    <div class="card-wrapper">
      {% for work in site.works %}
      <a class="card" href="{{ work.url | relative_url }}">
        <div class= "work-thumbnail" style="background-image: url('{{ site.baseurl }}/{{ work.thumbnail }}');">
        </div>
        <div class= "work-info">
          <h3 class="work-card-title">{{ work.title }}</h3>
          <p class="work-card-subtitle">{{ work.subtitle }}</p>
          <p class="work-card-descripition">
            {{ work.content | truncatewords: 20 | strip_html }}
          </p>
          <ul class="work-card-tags">
            {% for tags in work.tags %}
              <li> #{{ tags }} </li>
            {% endfor %}
          </ul>
        </div>
      </a>
      {% endfor %}
    </div>
  
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}" class="button" >
        <i class="fa fa-chevron-left"></i>
        {{ site.theme_settings.str_previous_page }}
      </a>
      {% endif %}
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}" class="button" >
        {{ site.theme_settings.str_next_page }}
        <i class="fa fa-chevron-right"></i>
      </a>
      {% endif %}
    </div>
    {% endif %}
  </div>
  