@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figure {
  margin: 0;
}
// For correct line number width in Github Gists
.gist table tbody tr td {
  box-sizing: content-box;
}
html {
  background: $background-color;

  body {
    display: flex;
    flex-direction: column;
    
    .content {
      display: flex;
      justify-content: center;
    }
  }
}

// Typography
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
body {
  color: $text-primary;
  font-family: $font-family-main;
  font-size: $font-size;
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  font-weight: 700;
  color: $text-primary;
  line-height: 1.2;
  margin: 0.67em 0;
  color: 
  a {
    color: $text-color;
  }
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.15em;
}
blockquote {
    border-left: 4px solid $primary-color;
    padding: 4px 0;
    padding-left: 24px;
    background-color: #FAFAFA;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  table-layout:fixed;
  width:100%;
  word-wrap:break-word;
}
td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}
td {
  vertical-align: top;
}
th {
  vertical-align: bottom;
}
table,
dl,
blockquote,
code,
kbd,
pre,
samp {
  margin: 1em 0;
}

code {
  color: $primary-color;
  background-color: $border-color;
  border-radius: 8px;
  padding: 4px 6px;
}
dt {
  font-weight: bold;
}
dd {
    margin-left: 2em;
}
p, ol, ul, dl, .math-display {
  line-height: 1.8;
  margin-top: 16px;
  margin-bottom: 16px;
  letter-spacing: -0.009em;
  color: #2F2F35;
}
// KaTeX math display
.math-display {
  display: inline-block;
  width: 100%;
}
// Lists within lists
li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1em;
}
ol, ul {
  list-style-position: inside;
}
hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}
a {
  color: $text-primary;
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media
iframe, img, embed, object, video {
  width: 100%;
}
img[align=left] {
  margin-right: 3%;
}
img[align=right] {
  margin-left: 3%;
}

.divider {
  border-bottom: 1px solid $border-color;
}

.page-title {
  color: $text-primary;
  margin-bottom: 8px;
  text-align: center;
}

.page-subtitle {
  color: $text-secondary;
  text-align: center;
  margin-bottom: 48px;
}

figcaption {
  color: $text-secondary;
  font-size: 16px;
  text-align: center;
}